<!DOCTYPE html>
<html data-ng-app="ex1">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-cookies.min.js"></script>

    <script type="text/javascript" src="app/CurrencApp.js"></script>
    <script type="text/javascript" src="app/CurrencController.js"></script>
</head>

<body>

<div class="container">
    <ol class="breadcrumb">
        <li><a href="../../home.html"><span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;Home</a></li>
        <li class="ng-binding">Ex.1</li>
    </ol>
</div>

<div class="container" data-ng-controller="CurrencyController as curCtrl">
    <div class="container">
        <div class="toggle">
            <div class="container">

                <div class="panel panel-primary" data-ngcloak="">
                    <div class="panel-heading">Ex 1 : Currency Application</div>
                    <div class="panel-body">
                        <form class="form-group form-inline">
                            <input type="text" class="form-control" size="5" data-ng-model="curCtrl.what">
                            <select class="form-control" data-ng-options="v.code as (v.code + ' - ' + v.name) for (k,v) in curCtrl.currenc" data-ng-model="curCtrl.debut" style="text-transform: capitalize"></select>
                            <a href="#" data-ng-click="curCtrl.swap()"><--></a>
                            <select class="form-control" data-ng-options="v.code as (v.code + ' - ' + v.name) for (k,v) in curCtrl.currenc" data-ng-model="curCtrl.fin" style="text-transform: capitalize"></select>
                            <input type="button" value="Convertir" data-ng-click="curCtrl.getResultat()" class="btn btn-primary">
                            <input type="text" class="form-control" readonly="readonly" size="5" data-ng-model="curCtrl.result">
                            <div class="checkbox"><label><input type="checkbox" data-ng-model="curCtrl.historique">&nbsp;Historique</label></div>
                        </form>
                    </div>

                    <div class="container-fluid" data-ng-show="curCtrl.historique">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <table class="table table-striped" id="lstHisto" style="table-layout:fixed;width: 100%">

                                    <tbody>
                                    <tr>
                                        <th>De</th>
                                        <th>En</th>
                                        <th class="text-center">Tx</th>
                                        <th class="text-center">Montant</th>
                                        <th class="text-center">Date</th>
                                        <th class="text-center">Delta</th>
                                        <th></th>
                                    </tr>


                                    <tr>
                                        <td colspan="7">
                                            <form class="form-inline">
                                                <div class="input-group">
                                                    <span class="input-group-addon">
                                                        <input type="checkbox" title="Auto-refresh">
                                                    </span>
                                                    <input type="number" class="form-control">
                                                    <span class="input-group-btn">
                                                    <button class="btn btn-primary"><span class="glyphicon glyphicon-refresh" aria-hidden="true"></span></button>
                                                    </span>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>